## 8.1 层次化索引

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.Series(np.random.randn(9),
                  index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                         [1, 2, 3, 1, 3, 1, 2, 2, 3]])

data

a  1    0.556783
   2    0.975217
   3   -1.790046
b  1   -0.208164
   3   -1.116316
c  1   -2.894037
   2   -0.717087
d  2    0.963548
   3    1.392976
dtype: float64

In [3]:
data.index

MultiIndex(levels=[['a', 'b', 'c', 'd'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 2, 0, 2, 0, 1, 1, 2]])

In [4]:
data['b']

1   -0.208164
3   -1.116316
dtype: float64

In [5]:
data['b':'c']

b  1   -0.208164
   3   -1.116316
c  1   -2.894037
   2   -0.717087
dtype: float64

In [6]:
data.loc[['b', 'd']]

b  1   -0.208164
   3   -1.116316
d  2    0.963548
   3    1.392976
dtype: float64

In [7]:
data.loc[:, 2]

a    0.975217
c   -0.717087
d    0.963548
dtype: float64

In [8]:
data.unstack()

          1         2         3
a  0.556783  0.975217 -1.790046
b -0.208164       NaN -1.116316
c -2.894037 -0.717087       NaN
d       NaN  0.963548  1.392976

In [9]:
data.unstack().stack()

a  1    0.556783
   2    0.975217
   3   -1.790046
b  1   -0.208164
   3   -1.116316
c  1   -2.894037
   2   -0.717087
d  2    0.963548
   3    1.392976
dtype: float64

In [ ]:
frame = pd.DataFrame(np.arange(12).reshape((4, 3)),
                     index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
                     columns=[['Ohio', 'Ohio', 'Colorado'],
                              ['Green', 'Red', 'Green']])