In [1]:
import pandas as pd
import numpy as np

## 11.1 日期和时间数据类型及工具

In [2]:
from datetime import datetime

In [3]:
now = datetime.now()

In [4]:
now

datetime.datetime(2019, 5, 26, 20, 54, 49, 553433)

In [8]:
now.year, now.month, now.day

(2019, 5, 26)

In [15]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
delta

datetime.timedelta(926, 56700)

In [16]:
delta.days

926

In [18]:
delta.seconds

56700

In [19]:
from datetime import timedelta

In [20]:
start = datetime(2011, 1, 7)

In [21]:
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [25]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

### 字符串和datatime的互相转换

In [26]:
stamp = datetime(2011, 1, 3)

In [27]:
str(stamp)

'2011-01-03 00:00:00'

In [28]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [29]:
value = '2011-01-03'

In [31]:
datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [32]:
datestrs = ['7/6/2011', '8/6/2011']

In [33]:
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [35]:
from dateutil.parser import parse

In [37]:
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [38]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [39]:
parse('6/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [40]:
datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']

In [41]:
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [42]:
idx = pd.to_datetime(datestrs + [None])

In [43]:
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [44]:
idx[2]

NaT

In [45]:
pd.isnull(idx)

array([False, False,  True])

## 11.2 时间序列基础

In [47]:
from datetime import datetime

In [48]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
        datetime(2011, 1, 7), datetime(2011, 1, 8),
        datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [50]:
ts = pd.Series(np.random.randn(6), index=dates)

In [51]:
ts

2011-01-02   -2.139383
2011-01-05   -0.648618
2011-01-07    0.097641
2011-01-08    0.458708
2011-01-10    1.242589
2011-01-12    0.188447
dtype: float64

In [52]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [53]:
ts[::2]

2011-01-02   -2.139383
2011-01-07    0.097641
2011-01-10    1.242589
dtype: float64

In [54]:
ts + ts[::2]

2011-01-02   -4.278767
2011-01-05         NaN
2011-01-07    0.195282
2011-01-08         NaN
2011-01-10    2.485177
2011-01-12         NaN
dtype: float64

In [55]:
ts.index.dtype

dtype('<M8[ns]')

In [56]:
stamp = ts.index[0]

In [57]:
stamp

Timestamp('2011-01-02 00:00:00')

### 索引、选取、子集构造

In [58]:
stamp = ts.index[2]

In [59]:
ts[stamp]

0.0976411629519248

In [60]:
ts['1/10/2011']

1.2425886287656491

In [61]:
ts['20110110']

1.2425886287656491

In [62]:
longer_ts = pd.Series(np.random.randn(1000),
                      index=pd.date_range('1/1/2000', periods=1000))

In [63]:
longer_ts

2000-01-01    0.964224
2000-01-02   -1.266400
2000-01-03   -0.442065
2000-01-04    0.273493
2000-01-05   -1.176537
2000-01-06   -1.772725
2000-01-07    0.946727
2000-01-08   -0.260313
2000-01-09   -0.220406
2000-01-10   -0.929022
2000-01-11    2.090275
2000-01-12   -0.117207
2000-01-13    0.722980
2000-01-14   -0.014233
2000-01-15   -0.463430
2000-01-16    0.259017
2000-01-17   -0.152906
2000-01-18    0.766780
2000-01-19   -1.679339
2000-01-20   -2.086630
2000-01-21    1.123767
2000-01-22    0.746406
2000-01-23    0.787229
2000-01-24    1.595235
2000-01-25    1.437623
2000-01-26    0.275982
2000-01-27    1.198277
2000-01-28    1.741862
2000-01-29   -0.918677
2000-01-30   -0.647484
                ...
2002-08-28    1.230682
2002-08-29    0.943942
2002-08-30    0.495770
2002-08-31    1.631740
2002-09-01   -0.803069
2002-09-02   -1.023516
2002-09-03   -0.128693
2002-09-04   -0.169953
2002-09-05    0.078668
2002-09-06    1.264988
2002-09-07   -0.415630
2002-09-08    0.948685
2002-09-09    0.902868
2002-09-10   -1.175172
2002-09-11    0.274876
2002-09-12    0.226912
2002-09-13    2.050901
2002-09-14   -2.088044
2002-09-15    1.415486
2002-09-16   -0.985836
2002-09-17   -2.226822
2002-09-18   -0.106342
2002-09-19    0.759931
2002-09-20   -0.540708
2002-09-21   -1.110626
2002-09-22   -1.657881
2002-09-23   -0.497673
2002-09-24    0.265517
2002-09-25    0.920951
2002-09-26    0.150580
Freq: D, Length: 1000, dtype: float64

In [64]:
longer_ts['2001']

2001-01-01    0.321710
2001-01-02    0.980361
2001-01-03   -0.881127
2001-01-04    1.067496
2001-01-05    0.465384
2001-01-06    0.985259
2001-01-07   -1.947504
2001-01-08   -1.532447
2001-01-09    2.155294
2001-01-10   -1.736078
2001-01-11   -0.261608
2001-01-12   -0.493793
2001-01-13   -0.756373
2001-01-14    1.170579
2001-01-15   -0.219923
2001-01-16    0.517210
2001-01-17   -0.337297
2001-01-18    1.097088
2001-01-19   -1.496023
2001-01-20    0.780115
2001-01-21    0.966079
2001-01-22    1.137285
2001-01-23   -0.767508
2001-01-24    1.747839
2001-01-25    1.724608
2001-01-26    1.272624
2001-01-27   -0.617517
2001-01-28   -0.050537
2001-01-29   -0.293067
2001-01-30   -0.296082
                ...
2001-12-02   -0.682729
2001-12-03   -1.407443
2001-12-04    0.673370
2001-12-05    0.360393
2001-12-06    1.172392
2001-12-07    0.741695
2001-12-08   -2.084815
2001-12-09    0.271019
2001-12-10    0.627581
2001-12-11    2.430402
2001-12-12    0.329024
2001-12-13    0.075905
2001-12-14    0.527499
2001-12-15    0.518937
2001-12-16    1.442031
2001-12-17   -0.468812
2001-12-18   -1.017805
2001-12-19   -0.742346
2001-12-20    0.407240
2001-12-21    1.036265
2001-12-22   -1.365268
2001-12-23    0.953720
2001-12-24   -0.016028
2001-12-25    0.099101
2001-12-26    0.793953
2001-12-27   -1.969712
2001-12-28    0.359159
2001-12-29    0.294068
2001-12-30   -2.169222
2001-12-31    0.799611
Freq: D, Length: 365, dtype: float64

In [65]:
longer_ts['2001-05']

2001-05-01   -1.595871
2001-05-02    0.728092
2001-05-03    0.575419
2001-05-04    0.114913
2001-05-05    0.670870
2001-05-06   -0.232444
2001-05-07   -0.190805
2001-05-08    0.165366
2001-05-09    1.097276
2001-05-10    0.820233
2001-05-11   -0.296689
2001-05-12    1.498897
2001-05-13   -0.475795
2001-05-14   -0.229743
2001-05-15   -0.016978
2001-05-16   -0.870504
2001-05-17   -0.738838
2001-05-18    0.922201
2001-05-19    1.039267
2001-05-20    0.128948
2001-05-21    1.888853
2001-05-22    0.941429
2001-05-23    0.484163
2001-05-24    0.419134
2001-05-25   -0.502962
2001-05-26   -1.802807
2001-05-27   -1.583180
2001-05-28    0.057145
2001-05-29   -0.915156
2001-05-30    0.952520
2001-05-31    1.073424
Freq: D, dtype: float64

In [66]:
ts[datetime(2011, 1, 7):]

2011-01-07    0.097641
2011-01-08    0.458708
2011-01-10    1.242589
2011-01-12    0.188447
dtype: float64

In [67]:
ts

2011-01-02   -2.139383
2011-01-05   -0.648618
2011-01-07    0.097641
2011-01-08    0.458708
2011-01-10    1.242589
2011-01-12    0.188447
dtype: float64

In [68]:
ts['1/6/2011':'1/11/2011']

2011-01-07    0.097641
2011-01-08    0.458708
2011-01-10    1.242589
dtype: float64

In [69]:
ts.truncate(after='1/9/2011')

2011-01-02   -2.139383
2011-01-05   -0.648618
2011-01-07    0.097641
2011-01-08    0.458708
dtype: float64

In [70]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')

In [72]:
long_df = pd.DataFrame(np.random.randn(100, 4),
                      index=dates,
                      columns=['Colorado', 'Texas','New York', 'Ohio'])

In [73]:
long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02  0.955048  1.190509  0.335067  0.421247
2001-05-09 -1.497307 -0.389276  1.469357  0.831911
2001-05-16  0.205638  0.677444  0.078261 -0.749374
2001-05-23  1.580730  1.796664  1.351830 -1.633428
2001-05-30  1.538027 -0.295906 -0.456384  0.348029

### 带有重复索引的时间序列

In [74]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000',
                          '1/2/2000', '1/3/2000'])

In [75]:
dup_ts = pd.Series(np.arange(5), index=dates)

In [76]:
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [77]:
dup_ts.index.is_unique

False

In [78]:
dup_ts['1/3/2000']

4

In [79]:
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [80]:
grouped = dup_ts.groupby(level=0)

In [81]:
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int32

In [82]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

## 11.3 日期的范围、频率以及移动

In [83]:
ts

2011-01-02   -2.139383
2011-01-05   -0.648618
2011-01-07    0.097641
2011-01-08    0.458708
2011-01-10    1.242589
2011-01-12    0.188447
dtype: float64

In [84]:
resampler = ts.resample('D')

In [85]:
resampler

DatetimeIndexResampler [freq=<Day>, axis=0, closed=left, label=left, convention=start, base=0]

### 生成日期范围

In [86]:
index = pd.date_range('2012-04-01', '2012-06-01')

In [87]:
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [88]:
pd.date_range(start='2012-04-01', periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [89]:
pd.date_range(end='2012-06-01', periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [90]:
pd.date_range('2000-01-01', '2000-12-01', freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [91]:
pd.date_range('2012-05-02 12:56:31', periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [92]:
pd.date_range('2012-05-02 12:56:31', periods=5, normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

### 频率和日期偏移量

In [93]:
from pandas.tseries.offsets import Hour, Minute

In [94]:
hour = Hour()

In [95]:
hour

In [96]:
four_hours = Hour(4)

In [97]:
four_hours

In [98]:
pd.date_range('2000-01-01', '2000-01-03 23:59', freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [99]:
Hour(2) + Minute(30)

In [100]:
pd.date_range('2000-01-01', periods=10, freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

### WOM日期

In [103]:
rng = pd.date_range('2012-01-01', '2012-09-01', freq='WOM-3FRI')
# 每月第三个星期五

In [102]:
rng

DatetimeIndex(['2012-01-20', '2012-02-17', '2012-03-16', '2012-04-20',
               '2012-05-18', '2012-06-15', '2012-07-20', '2012-08-17'],
              dtype='datetime64[ns]', freq='WOM-3FRI')

In [104]:
list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

### 移动（超前和滞后）数据

In [105]:
ts = pd.Series(np.random.randn(4),
              index=pd.date_range('1/1/2000', periods=4, freq='M'))

In [106]:
ts

2000-01-31   -1.254982
2000-02-29   -1.869672
2000-03-31    0.195241
2000-04-30   -0.724737
Freq: M, dtype: float64

In [107]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31   -1.254982
2000-04-30   -1.869672
Freq: M, dtype: float64

In [109]:
ts.shift(-2)

2000-01-31    0.195241
2000-02-29   -0.724737
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [111]:
ts/ts.shift(1) -1

2000-01-31         NaN
2000-02-29    0.489800
2000-03-31   -1.104425
2000-04-30   -4.712009
Freq: M, dtype: float64

In [112]:
ts.shift(2, freq='M')
# 对时间戳位移

2000-03-31   -1.254982
2000-04-30   -1.869672
2000-05-31    0.195241
2000-06-30   -0.724737
Freq: M, dtype: float64

In [113]:
ts

2000-01-31   -1.254982
2000-02-29   -1.869672
2000-03-31    0.195241
2000-04-30   -0.724737
Freq: M, dtype: float64

In [114]:
ts.shift(3, freq='D')

2000-02-03   -1.254982
2000-03-03   -1.869672
2000-04-03    0.195241
2000-05-03   -0.724737
dtype: float64

In [115]:
ts.shift(1, freq='90T')

2000-01-31 01:30:00   -1.254982
2000-02-29 01:30:00   -1.869672
2000-03-31 01:30:00    0.195241
2000-04-30 01:30:00   -0.724737
Freq: M, dtype: float64

### 通过偏移量对日期进行位移

In [116]:
from pandas.tseries.offsets import Day, MonthEnd

In [117]:
now = datetime(2011, 11, 17)

In [118]:
now + 3*Day()

Timestamp('2011-11-20 00:00:00')

In [119]:
now + MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [121]:
now + MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

In [122]:
offset = MonthEnd()

In [123]:
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [124]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [125]:
ts = pd.Series(np.random.randn(20),
              index=pd.date_range('1/15/2000', periods=20, freq='4d'))

In [126]:
ts

2000-01-15   -0.256152
2000-01-19    0.407854
2000-01-23    0.124303
2000-01-27   -1.207551
2000-01-31   -0.191880
2000-02-04    1.820679
2000-02-08    0.171183
2000-02-12    2.684299
2000-02-16    1.179505
2000-02-20    0.218868
2000-02-24   -0.736659
2000-02-28    2.164517
2000-03-03   -0.850449
2000-03-07    0.994620
2000-03-11    0.919326
2000-03-15   -0.198358
2000-03-19   -1.155378
2000-03-23   -0.028984
2000-03-27   -0.710879
2000-03-31   -1.274280
Freq: 4D, dtype: float64

In [127]:
ts.groupby(offset.rollforward).mean()

2000-01-31   -0.224685
2000-02-29    1.071770
2000-03-31   -0.288048
dtype: float64

In [128]:
ts.resample('M').mean()

2000-01-31   -0.224685
2000-02-29    1.071770
2000-03-31   -0.288048
Freq: M, dtype: float64

## 11.4 时区处理

In [129]:
import pytz

In [131]:
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [132]:
tz = pytz.timezone('America/New_York')

In [133]:
tz

### 时区本地化和转换

In [134]:
rng = pd.date_range('3/9/2012 9:30', periods=6, freq='D')

In [135]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

2012-03-09 09:30:00   -0.634879
2012-03-10 09:30:00   -2.131536
2012-03-11 09:30:00    0.769560
2012-03-12 09:30:00    0.829754
2012-03-13 09:30:00    0.120750
2012-03-14 09:30:00    0.659787
Freq: D, dtype: float64

In [138]:
print(ts.index.tz)

None

In [139]:
pd.date_range('3/9/2012 9:30', periods=10, freq='D', tz='UTC')

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [140]:
ts

2012-03-09 09:30:00   -0.634879
2012-03-10 09:30:00   -2.131536
2012-03-11 09:30:00    0.769560
2012-03-12 09:30:00    0.829754
2012-03-13 09:30:00    0.120750
2012-03-14 09:30:00    0.659787
Freq: D, dtype: float64

In [141]:
ts_utc = ts.tz_localize('UTC')

In [142]:
ts_utc

2012-03-09 09:30:00+00:00   -0.634879
2012-03-10 09:30:00+00:00   -2.131536
2012-03-11 09:30:00+00:00    0.769560
2012-03-12 09:30:00+00:00    0.829754
2012-03-13 09:30:00+00:00    0.120750
2012-03-14 09:30:00+00:00    0.659787
Freq: D, dtype: float64

In [143]:
ts_utc.index

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [144]:
ts_utc.tz_convert('America/New_York')

2012-03-09 04:30:00-05:00   -0.634879
2012-03-10 04:30:00-05:00   -2.131536
2012-03-11 05:30:00-04:00    0.769560
2012-03-12 05:30:00-04:00    0.829754
2012-03-13 05:30:00-04:00    0.120750
2012-03-14 05:30:00-04:00    0.659787
Freq: D, dtype: float64

In [145]:
ts_eastern = ts.tz_localize('America/New_York')

In [146]:
ts_eastern.tz_convert('UTC')

2012-03-09 14:30:00+00:00   -0.634879
2012-03-10 14:30:00+00:00   -2.131536
2012-03-11 13:30:00+00:00    0.769560
2012-03-12 13:30:00+00:00    0.829754
2012-03-13 13:30:00+00:00    0.120750
2012-03-14 13:30:00+00:00    0.659787
Freq: D, dtype: float64

In [148]:
ts.index.tz_localize('Asia/Shanghai')

DatetimeIndex(['2012-03-09 09:30:00+08:00', '2012-03-10 09:30:00+08:00',
               '2012-03-11 09:30:00+08:00', '2012-03-12 09:30:00+08:00',
               '2012-03-13 09:30:00+08:00', '2012-03-14 09:30:00+08:00'],
              dtype='datetime64[ns, Asia/Shanghai]', freq='D')

### 操作时区意识型Timestamp对象

In [149]:
stamp = pd.Timestamp('2011-03-12 04:00')

In [150]:
stamp_utc = stamp.tz_localize('utc')

In [151]:
stamp_utc.tz_convert('America/New_York')

Timestamp('2011-03-11 23:00:00-0500', tz='America/New_York')

## 11.5 时期及其算术运算

In [152]:
p = pd.Period(2007, freq='A-DEC')
p

Period('2007', 'A-DEC')

In [153]:
p + 5

Period('2012', 'A-DEC')

In [154]:
p - 2

Period('2005', 'A-DEC')

In [155]:
pd.Period('2014', freq='A-DEC') - p

7

In [157]:
rng = pd.period_range('2000-01-01', '2000-06-30', freq='M')

In [158]:
rng

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='period[M]', freq='M')

In [159]:
pd.Series(np.random.randn(6), index=rng)

2000-01   -2.040348
2000-02   -0.185711
2000-03    0.160162
2000-04   -0.828803
2000-05    0.452620
2000-06    2.666845
Freq: M, dtype: float64

In [160]:
values = ['2001Q3', '2002Q2', '2003Q1']

In [161]:
index = pd.PeriodIndex(values, freq='Q-DEC')

In [162]:
index

PeriodIndex(['2001Q3', '2002Q2', '2003Q1'], dtype='period[Q-DEC]', freq='Q-DEC')

### 时期的频率转换

In [163]:
p = pd.Period('2007', freq='A-DEC')

In [164]:
p

Period('2007', 'A-DEC')

In [165]:
p.asfreq('M', how='start')

Period('2007-01', 'M')

In [166]:
p.asfreq('M', how='end')

Period('2007-12', 'M')

### 将Timestamp转换为Period(及其反向过程）