In [1]:
import pandas as pd
import numpy as np

## 11.1 日期和时间数据类型及工具

In [2]:
from datetime import datetime

In [3]:
now = datetime.now()

In [4]:
now

datetime.datetime(2019, 5, 26, 20, 54, 49, 553433)

In [8]:
now.year, now.month, now.day

(2019, 5, 26)

In [15]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
delta

datetime.timedelta(926, 56700)

In [16]:
delta.days

926

In [18]:
delta.seconds

56700

In [19]:
from datetime import timedelta

In [20]:
start = datetime(2011, 1, 7)

In [21]:
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [25]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

### 字符串和datatime的互相转换

In [26]:
stamp = datetime(2011, 1, 3)

In [27]:
str(stamp)

'2011-01-03 00:00:00'

In [28]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [29]:
value = '2011-01-03'

In [31]:
datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [32]:
datestrs = ['7/6/2011', '8/6/2011']

In [33]:
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [35]:
from dateutil.parser import parse

In [37]:
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [38]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [39]:
parse('6/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [40]:
datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']

In [41]:
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [42]:
idx = pd.to_datetime(datestrs + [None])

In [43]:
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [44]:
idx[2]

NaT

In [45]:
pd.isnull(idx)

array([False, False,  True])

## 11.2 时间序列基础

In [47]:
from datetime import datetime

In [48]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
        datetime(2011, 1, 7), datetime(2011, 1, 8),
        datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [50]:
ts = pd.Series(np.random.randn(6), index=dates)